Repository stillrivercode/customer-intelligence: changes, and which pre-commit hooks are due for each by the changed paths.
All: yaml-lint, eslint, prettier, react-app-tests, react-app-build, react-app-lint, npm-lock-check, react-npm-lock-check

yaml-lint:
  name: YAML Lint
  entry: npx yaml-lint
  language: node
  additional_dependencies:
  - yaml-lint@^1.7.0

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node
  additional_dependencies:
  - eslint@^8.0.0
  - eslint-plugin-security@^1.7.1

prettier:
  name: Prettier
  entry: npx prettier --write
  language: node
  additional_dependencies:
  - prettier@^3.0.0

react-app-tests:
  name: React App Tests
  entry: 'bash -c ''cd app && echo "Running React application tests..." && npm test -- --run''
  
    '
  language: system
  pass_filenames: false

react-app-build:
  name: React App Build Check
  entry: 'bash -c ''cd app && echo "Checking React application build..." && npm run build''
  
    '
  language: system
  pass_filenames: false

react-app-lint:
  name: React App Lint
  entry: 'bash -c ''cd app && echo "Linting React application..." && npm run lint''
  
    '
  language: system
  pass_filenames: false

npm-lock-check:
  name: NPM Lock File Check
  ...

react-npm-lock-check:
  name: React App NPM Lock File Check
  ...

Fix GitHub Actions workflow issues and dependency setup
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint, prettier, npm-lock-check

Fix ESLint configuration for GitHub Actions compatibility
  .eslintignore
  app/src/App.tsx
  eslint.config.js
  package.json
Due: eslint, prettier, react-app-tests, react-app-build, react-app-lint, npm-lock-check

Update README.md to use ./install.sh instead of npm install
  README.md
Due: prettier

Address PR feedback: Fix critical issues and enhance accessibility
  app/eslint.config.js
  app/index.html
  app/src/components/Dashboard.tsx
  package-lock.json
  package.json
Due: eslint, prettier, react-app-tests, react-app-build, react-app-lint, npm-lock-check

Add API Ninjas environment variable to .env.example
  .env.example
Due: none

Add Customer Intelligence React Application (#2)
  .env.example
  .eslintignore
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  app/.gitignore
  app/README.md
  app/eslint.config.js
  app/index.html
  app/package-lock.json
  app/package.json
  app/public/vite.svg
  app/src/App.css
  app/src/App.test.tsx
  app/src/App.tsx
  app/src/assets/react.svg
  app/src/components/Dashboard.test.tsx
  app/src/components/Dashboard.tsx
  app/src/index.css
  app/src/main.tsx
  app/src/test/setup.ts
  app/src/vite-env.d.ts
  app/tsconfig.app.json
  app/tsconfig.json
  app/tsconfig.node.json
  app/vite.config.ts
  eslint.config.js
  package-lock.json
  package.json
  specs/issue-1-customer-intelligence.md
  vitest.config.ts
Due: yaml-lint, eslint, prettier, react-app-tests, react-app-build, react-app-lint, npm-lock-check, react-npm-lock-check

Remove GitHub secret creation from install.sh (#223)
  install.sh
Due: none

Remove scheduled trigger from release-generator workflow (#222)
  .github/workflows/release-generator.yml
Due: yaml-lint, prettier

chore: ignore bin (#219)
  .gitignore
Due: none

AI Task: Enhance security documentation and practices based on AI review feedback (#226)
  config.yml
  docs/security.md
  docs/security/README.md
  docs/security/security-best-practices.md
Due: yaml-lint, prettier

feat: Add roadmap command from upstream template
  shared-commands/commands/roadmap.sh
  shared-commands/lib/templates/roadmap-template.md
Due: prettier

Remove release-generator.yml workflow
  .github/workflows/release-generator.yml
Due: yaml-lint, prettier

Sync template updates from upstream (#3)
  .github/workflows/release-generator.yml
  .gitignore
  config.yml
  docs/security.md
  docs/security/README.md
  docs/security/security-best-practices.md
  install.sh
  shared-commands/commands/roadmap.sh
  shared-commands/lib/templates/roadmap-template.md
Due: yaml-lint, prettier

Update documentation to use Stillriver API instead of API Ninjas
  .env.example
  README.md
  specs/issue-1-customer-intelligence.md
Due: prettier

Remove unused CLI directory
  cli/configuration-manager.js
  cli/create-project.js
  cli/file-distribution-config.json
  cli/file-distribution.js
  cli/index.js
  cli/project-validation.js
  cli/update-package-files.js
  cli/validators.js
Due: eslint, prettier

Address PR feedback for workshop context
  README.md
  docs/migration-guide.md
Due: prettier

Update documentation and API integration to use Stillriver API (#4)
  .env.example
  README.md
  cli/configuration-manager.js
  cli/create-project.js
  cli/file-distribution-config.json
  cli/file-distribution.js
  cli/index.js
  cli/project-validation.js
  cli/update-package-files.js
  cli/validators.js
  docs/migration-guide.md
  specs/issue-1-customer-intelligence.md
Due: eslint, prettier

fix: address critical and medium security issues in AI orchestrator
  .github/workflows/ai-orchestrator.yml
  dev-docs/roadmaps/roadmap-test-input.md
Due: yaml-lint, prettier

docs: add comprehensive Claude hooks integration guide (#231)
  dev-docs/TESTING_STANDARDS.md
  dev-docs/claude-hooks.md
  dev-docs/openrouter-api-key-validation.md
  dev-docs/simplified-architecture.md
  dev-docs/trap-handlers.md
  dev-docs/workflow-diagram.md
  docs/unified-issue-documentation-workflow.md
Due: prettier

Cherry-pick template security and infrastructure updates (#5)
  .github/workflows/ai-orchestrator.yml
  .gitignore
  dev-docs/TESTING_STANDARDS.md
  dev-docs/claude-hooks.md
  dev-docs/openrouter-api-key-validation.md
  dev-docs/roadmaps/roadmap-test-input.md
  dev-docs/simplified-architecture.md
  dev-docs/trap-handlers.md
  dev-docs/workflow-diagram.md
  docs/unified-issue-documentation-workflow.md
Due: yaml-lint, prettier

fix: correct AI PR Review workflow to use Stillriver AI Workflows action
  .github/workflows/ai-pr-review.yml
Due: yaml-lint, prettier

fix: correct input parameter names for Stillriver AI Workflows action
  .github/workflows/ai-pr-review.yml
Due: yaml-lint, prettier

chore: update AI PR Review to use latest Stillriver AI Workflows v1.0.13
  .github/workflows/ai-pr-review.yml
Due: yaml-lint, prettier

fix: address npm security vulnerabilities
  package-lock.json
Due: prettier

feat: restore manual AI review triggers via label and comment
  .github/workflows/ai-pr-review.yml
Due: yaml-lint, prettier

fix: remove synchronize trigger to prevent review spam
  .github/workflows/ai-pr-review.yml
Due: yaml-lint, prettier

docs: add GitHub configuration section to README
  README.md
Due: prettier

feat: add label management to AI PR Review workflow
  .github/workflows/ai-pr-review.yml
Due: yaml-lint, prettier

chore: add migrate.md to IDK dictionary
  docs/dictionary/development/migrate.md
Due: prettier

docs: enhance IDK documentation in CLAUDE.md
  CLAUDE.md
Due: prettier

docs: update GEMINI.md with IDK package reference
  GEMINI.md
Due: prettier

docs: clean up outdated documentation and instructions
  CLAUDE.md
  docs/ISSUE_LABELS.md
  docs/PRE_COMMIT_TEST_PLAN.md
  docs/ai-workflow.md
  docs/cli-usage.md
  docs/migration-guide.md
  docs/offline-usage.md
  docs/security-best-practices.md
  docs/security.md
  docs/security/README.md
  docs/security/security-best-practices.md
  docs/troubleshooting.md
Due: prettier

migrate workshop documentation to use workshop API
  workshop/API_TESTING_RESULTS.md
  workshop/README.md
  workshop/RUN_OF_SHOW.md
  workshop/overview.md
  workshop/phases/phase2-api-integration.md
  workshop/phases/phase3-intelligence-layer.md
  workshop/phases/phase4-advanced-features.md
  workshop/resources/api-reference.md
Due: prettier

add ThisDot partnership to README.md
  README.md
Due: prettier

update workshop API testing results with current endpoint status
  workshop/API_TESTING_RESULTS.md
Due: prettier

Path conditions:
  yaml-lint: any of: \.(yml|yaml)$
  eslint: any of: \.(js|ts|jsx|tsx)$, but not: \.eslintrc.*\.js$|.*\.config\.js$
  prettier: any of: \.(js|ts|jsx|tsx|json|md|yml|yaml)$
  react-app-tests: any of: ^app/.*\.(js|ts|jsx|tsx)$
  react-app-build: any of: ^app/.*\.(js|ts|jsx|tsx|json)$
  react-app-lint: any of: ^app/.*\.(js|ts|jsx|tsx)$
  npm-lock-check: any of: package\.json$
  react-npm-lock-check: any of: ^app/package\.json$
